/*-------- general_settings ( ".confirm_box" → in the fast_reserve section. ) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .confirm_box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.fast_reserve_contents .fast_reserve_sheet_box .confirm_box label,
.fast_reserve_contents .fast_reserve_sheet_box .confirm_box .btn_previous,
.fast_reserve_contents .fast_reserve_sheet_box .confirm_box .btn_next {
  display: block;
  width: 45%;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 5px;
  cursor: pointer;
}

.fast_reserve_contents .fast_reserve_sheet_box .confirm_box label,
.fast_reserve_contents .fast_reserve_sheet_box .confirm_box .btn_previous {
  border: 1px solid #aaa;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
}

.fast_reserve_contents .fast_reserve_sheet_box .confirm_box .btn_next {
  color: #fff;
  border: none;
  background-color: #2E3192;
}

/*-------- footer --------*/
.footer {width: 100%;}

/*-------- footer_top --------*/
.footer .footer_top_box {width: 100%; background-color: #fff;}

.footer .footer_top_box .footer_top {width: 100%; max-width: 1360px; margin: 0 auto;}

/*-------- footer_news_letter --------*/
.footer .news_letter {
  height: 45px;
  padding: 0 4%;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .news_letter .footer_unit_title {font-size: 0.813rem;}

.footer .news_letter button {
  display: block;
  font-size: 0.688rem;
  border: none;
  padding: 4px 12px;
  color: #fff;
  background-color: #2E3192;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
}

/*-------- footer_additional_info --------*/
.footer .additional_info {
  display: flex;
  height: 45px;
  padding: 0 4%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer .additional_info .footer_unit_title {font-size: 0.813rem;}

.footer .additional_info .footer_unit_icon {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  transition: all .3s;
}

.footer .additional_info_sheet {
  /* width: 100%; */
  padding: 0 4%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.footer .additional_info_sheet li {
  width: 50%;
}

.footer .additional_info_sheet li a {
  display: block;
  height: 32px;
  font-size: 0.75rem;
  text-indent: 10%;
  line-height: 32px;
}

/*-------- footer_related_institution --------*/
.footer .related_institution {
  display: flex;
  height: 45px;
  padding: 0 4%;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
}

.footer .related_institution .footer_unit_title {display: flex; width: 90px;}
.footer .related_institution .footer_unit_title .footer_unit_title_text {width: 100%; font-size: 0.813rem; font-weight: 400; line-height: 24px;}

.footer .related_institution .btn_related_institution_box {width: 55px; display: none;}

.footer .related_institution .btn_related_institution_box button {
  width: 25px;
  height: 25px;
  color: #888;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.footer .related_institution .related_institution_sheet {
  width: 5%;
  max-width: 230px;
  flex-grow: 1;
  overflow: hidden;
}

.footer .related_institution .related_institution_sheet .swiper-wrapper .swiper-slide {
  display: block;
  max-width: 94px;
}

.footer .related_institution .related_institution_sheet>div img {
  display: block;
  width: 100%;
}

/*-------- footer_mecenat --------*/
.footer .mecenat {
  display: flex;
  height: 45px;
  padding: 0 4%;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
}

.footer .mecenat .footer_unit_title {display: flex; width: 150px;}
.footer .mecenat .footer_unit_title .footer_unit_title_text {width: 100%; font-size: 0.75rem; font-weight: 400; line-height: 24px;}

.footer .mecenat .btn_mecenat_box {width: 60px; display: none;}

.footer .mecenat .btn_mecenat_box button {
  width: 25px;
  height: 25px;
  color: #888;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.footer .mecenat .mecenat_sheet {
  width: 5%;
  max-width: 200px;
  flex-grow: 1;
  overflow: hidden;
}

.footer .mecenat .mecenat_sheet .swiper-wrapper .swiper-slide {
  display: block;
  max-width: 94px;
}

.footer .mecenat .mecenat_sheet>div img {
  display: block;
  width: 100%;
}

#chk_additional_info {display: none;}

/*-------- footer_bottom --------*/
.footer .footer_bottom_box {width: 100%; padding-bottom: 30px;}

.footer .footer_bottom_box .footer_bottom {width: 100%; max-width: 1360px; margin: 0 auto}

/*-------- footer_info & footer_logo_box --------*/
.footer .footer_info {
  padding: 25px 4%;
  box-sizing: border-box;
  font-size: 0.688rem;
}

.footer .footer_info .footer_info_br {display: none;}

.footer .footer_logo_box {
  width: 100%;
  padding: 0 4%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer .footer_logo_box .footer_logo {
  width: 47.5%;
  max-width: 211px;
}

.footer .footer_logo_box .footer_logo img {
  display: block;
  width: 100%;
}

.footer .footer_logo_box .footer_logo_space_between {width: 5%;}

.footer .footer_logo_box .footer_other_logos {
  width: 47.5%;
  max-width: 211px;
}

.footer .footer_logo_box .footer_other_logos img {
  display: block;
  width: 100%;
}

/*-------- quick_menu & btn_fast_reserve --------*/
.quick_menu {
  display: block;
  position: fixed;
  top: 71%;
  right: 5px;
  z-index: 10;
}

.quick_menu .btn_fast_reserve {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
}

.quick_menu .btn_fast_reserve .btn_coin {
  width: 40px;
  height: 40px;
  font-size: 0.625rem;
  position: relative;
  perspective: 45px;
}

/* 빠른예매 자동 회전 애니메이션은 main.css에 있음 ( 메인페이지에서만 자동 회전 애니메이션 적용 ) */
.quick_menu .btn_fast_reserve .btn_coin_front,
.quick_menu .btn_fast_reserve .btn_coin_back {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: all .3s;
}

.quick_menu .btn_fast_reserve .btn_coin_front {
  color: #fff;
  background-color: #2E3192;
  transform: rotateY(0);
}

/* ↓ 컬러변경시 참고 : #d0ca30 */
.quick_menu .btn_fast_reserve .btn_coin_back {
  color: #fff;
  background-color: #f4b807;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

/*-------- quick_menu ( btn_to_top, btn_to_bottom ) --------*/
.quick_menu .btn_to_top {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  color: #222;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.quick_menu .btn_to_bottom {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  color: #222;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
}

/*-------- fast_reserve --------*/
.fast_reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  position: fixed;
  width: 100%;
  height: 100%;
  /* 참고 - 네이버 지도 앱 api 내부의 인디케이터가 z-index: 100임을 확인함 */
  z-index: 9999;
}

.fast_reserve .out_of_area {
  width: 100%;
  height: 100%;
  /* inset 그림자로 비네팅 효과를 주었다 - 필름같은 느낌 */
  box-shadow: inset 0 0 64px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#chk_fast_reserve {display: none;}
#chk_fast_reserve:checked ~ .fast_reserve {opacity: 1; visibility: visible;}
/* 빠른예매 기능 이용중일때는 애니메이션 정지 - main.css 참고 ( main.js의 jQuery섹션에서 이 기능을 대신 처리해주기때문에, 추후변동사항이 생길때를 대비해 주석처리함 ) */
/* #chk_fast_reserve:checked ~ .quick_menu .btn_fast_reserve .btn_coin_front {transform: rotateY(0deg); animation: none;}
#chk_fast_reserve:checked ~ .quick_menu .btn_fast_reserve .btn_coin_back {transform: rotateY(180deg); animation: none;} */

/*-------- fast_reserve_contents ( fast_reserve_pagination ) --------*/
.fast_reserve .fast_reserve_contents {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  /* filter: drop-shadow(0 0 16px rgba(45, 25, 118, 0.2)); */
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(46, 49, 146, 0.5);
  /* background-color: rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  justify-content: space-between;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination>li {
  font-size: 0.813rem;
  text-align: center;
  line-height: 50px;
  position: relative;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination>li .angle_box {
  width: 100px;
  height: 100px;
  transform: rotate(66.6deg) skewX(45deg);
  position: absolute;
  top: -5px;
  right: -16px;
  z-index: -1;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_theater {
  width: 34%;
  z-index: 3;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_theater .pagination_text {
  color: #fff;
  background-color: #276976;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_theater .angle_box {
  background-color: #276976;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_seats {
  width: 35%;
  z-index: 2;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_seats .pagination_text {
  color: #999;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_seats .angle_box {
  background-color: transparent;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_seats.proceeding .pagination_text {
  color: #fff;
  background-color: #20225f;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_seats.proceeding .angle_box {
  background-color: #20225f;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_pay {
  width: 36%;
  z-index: 1;
}
.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_pay .pagination_text {
  color: #999;
}

.fast_reserve .fast_reserve_contents .fast_reserve_pagination .pagination_pay.proceeding .pagination_text {
  color: #fff;
  background-color: #dba80f;
}

/*-------- fast_reserve_contents ( fast_reserve_sheet_box ) --------*/
.fast_reserve .fast_reserve_contents .fast_reserve_sheet_box {
  width: 100%;
  height: calc(100% - 50px);
  font-size: 0.813rem;
  color: #fff;
  overflow: hidden;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_theater .resizing_box,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .resizing_box,
.fast_reserve_contents .fast_reserve_sheet_box .select_pay .resizing_box {
  /* height: 450px; */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*-------- select_theater (search_box) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box {
  display: flex;
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_title {
  width: 80px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_input {
  width: 150px;
  position: relative;
  margin-right: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_input input {
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 5px;
  font-size: 0.75rem;
  outline: none;
  text-indent: 10px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_icon {
  width: 25px;
  height: 25px;
  color: #000;
  font-size: 0.813rem;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: 3px;
  cursor: pointer;
}

/*-------- select_theater (search_recommend) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_recommend_box {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.fast_reserve_contents .select_theater .search_recommend_box .search_recommend_title {
  height: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.fast_reserve_contents .select_theater .search_recommend_box .search_recommend_sheet {
  width: 100%;
}

.fast_reserve_contents .select_theater .search_recommend_box .search_recommend_sheet label {
  display: block;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.fast_reserve_contents .select_theater .search_recommend_box .search_recommend_sheet .swiper-slide img {
  display: block;
  width: 100%;
}

#rad_search_turandot, #rad_search_carmen, #rad_search_blackpanther, #rad_search_blackadam {display: none;}

#rad_search_turandot:checked ~ .search_recommend_box .search_recommend_sheet .swiper-wrapper .lab_search_turandot label {
  border: 2px solid #dc143c;
  box-sizing: border-box;
}
#rad_search_carmen:checked ~ .search_recommend_box .search_recommend_sheet .swiper-wrapper .lab_search_carmen label {
  border: 2px solid #dc143c;
  box-sizing: border-box;
}
#rad_search_blackpanther:checked ~ .search_recommend_box .search_recommend_sheet .swiper-wrapper .lab_search_blackpanther label {
  border: 2px solid #dc143c;
  box-sizing: border-box;
}
#rad_search_blackadam:checked ~ .search_recommend_box .search_recommend_sheet .swiper-wrapper .lab_search_blackadam label {
  border: 2px solid #dc143c;
  box-sizing: border-box;
}

#rad_search_turandot:checked ~ .detail_info .product_info .product_info_sheet .product_info_unit {display: block;}
#rad_search_turandot:checked ~ .detail_info .product_info .product_info_sheet .product_not_found {display: none;}
#rad_search_turandot:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .theater_schedule_sheet {display: block;}
#rad_search_turandot:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .schedule_not_found {display: none;}
#rad_search_turandot:checked ~ .detail_info .theater_schedule .theater_schedule_available_box  {display: block;}

#rad_search_carmen:checked ~ .detail_info .product_info .product_info_sheet .product_info_unit {display: none;}
#rad_search_carmen:checked ~ .detail_info .product_info .product_info_sheet .product_not_found {display: block;}
#rad_search_carmen:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .theater_schedule_sheet {display: none;}
#rad_search_carmen:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .schedule_not_found {display: flex;}
#rad_search_carmen:checked ~ .detail_info .theater_schedule .theater_schedule_available_box {display: none;}

#rad_search_blackpanther:checked ~ .detail_info .product_info .product_info_sheet .product_info_unit {display: none;}
#rad_search_blackpanther:checked ~ .detail_info .product_info .product_info_sheet .product_not_found {display: block;}
#rad_search_blackpanther:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .theater_schedule_sheet {display: none;}
#rad_search_blackpanther:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .schedule_not_found {display: flex;}
#rad_search_blackpanther:checked ~ .detail_info .theater_schedule .theater_schedule_available_box {display: none;}

#rad_search_blackadam:checked ~ .detail_info .product_info .product_info_sheet .product_info_unit {display: none;}
#rad_search_blackadam:checked ~ .detail_info .product_info .product_info_sheet .product_not_found {display: block;}
#rad_search_blackadam:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .theater_schedule_sheet {display: none;}
#rad_search_blackadam:checked ~ .detail_info .theater_schedule .theater_schedule_sheet_box .schedule_not_found {display: flex;}
#rad_search_blackadam:checked ~ .detail_info .theater_schedule .theater_schedule_available_box {display: none;}

/*-------- select_theater - detail_info --------*/
.fast_reserve_contents .select_theater .detail_info {
  width: 100%;
}

/*-------- select_theater - detail_info ( product_info ) --------*/
.fast_reserve_contents .select_theater .detail_info .product_info {
  margin-bottom: 40px;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_info_title {
  width: 86%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_info_sheet {
  width: 92%;
  padding: 20px 10%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 0 auto;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_name,
.fast_reserve_contents .select_theater .detail_info .product_info .product_age {
  display: flex;
  justify-content: space-between;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_name {
  margin-bottom: 20px;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_name .product_name_text,
.fast_reserve_contents .select_theater .detail_info .product_info .product_age .product_age_text {
  width: 50%;
}

.fast_reserve_contents .select_theater .detail_info .product_info .product_not_found {
  text-align: center;
}

/*-------- select_theater - detail_info ( theater_schedule ) --------*/
.fast_reserve_contents .select_theater .detail_info .theater_schedule {
  width: 100%;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_title {
  display: flex;
  width: 86%;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: space-between;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_title .theater_schedule_title_text {
  width: 80px;
  height: 25px;
  line-height: 25px;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_control_box {
  display: flex;
  width: 52px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_control_box .icon_unit {
  display: flex;
  width: 26px;
  font-size: 0.688rem;
  color: #ccc;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_control_box .icon_left {
  border-right: 1px solid #ccc;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_sheet_box {
  width: 92%;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_sheet_box .theater_schedule_sheet {
  width: 100%;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule .theater_schedule_sheet .swiper-slide {
  background-color: rgba(0, 0, 0, 0.4);
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit {
  width: 82%;
  padding: 5% 0;
  margin: 0 auto;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit li,
.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit li a {color: #fff;}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit .schedule_unit_month {
  padding-left: 5%;
  margin-top: 10px;
  margin-bottom: 32px;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul {
  display: flex;
  width: 100%;
  height: 28px;
  margin-bottom: 4%;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit .schedule_unit_day li {
  width: 10%;
  flex-grow: 1;
  text-align: center;
  line-height: 28px;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit .schedule_unit_day li:first-child {
  color: #f05757;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul li {
  width: 10%;
  flex-grow: 1;
  text-align: center;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul li a {
  display: block;
  height: 100%;
  border-radius: 5px;
  line-height: 28px;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul li .day_selected {
  background-color: #2E3192;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul li .theater_today {
  color: #f4f4a7;
}

.fast_reserve_contents .select_theater .theater_schedule_sheet .schedule_unit ul li .schedule_sunday {
  color: #f05757;
}

/*-------- select_theater - detail_info ( theater_schedule - fast_not_found) --------*/
.fast_reserve_contents .select_theater .theater_schedule_sheet_box .schedule_not_found {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*-------- select_theater - detail_info ( theater_schedule - search_schedule_available) --------*/
.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box {
  width: 92%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5% 0;
  margin: 0 auto;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box li {
  width: 87%;
  height: 36px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 auto;
}

.fast_reserve_contents .select_theater .detail_info .theater_available_unit .now_available.available_selected {background-color: #2E3192;}

.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box li a {
  display: flex;
  height: 100%;
  color: #fff;
  line-height: 36px;
  justify-content: space-between;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box .theater_available_place {
  width: 65px;
}

.fast_reserve_contents .select_theater .detail_info .theater_available_unit .theater_state {font-size: 0.688rem;}
.fast_reserve_contents .select_theater .detail_info .theater_available_unit .unusable .theater_state,
.fast_reserve_contents .select_theater .detail_info .theater_available_unit .unusable .theater_available_time span {color: #fb6449;}
.fast_reserve_contents .select_theater .detail_info .theater_available_unit .now_available .theater_state,
.fast_reserve_contents .select_theater .detail_info .theater_available_unit .now_available .theater_available_time span {color: #bccbf6;}
/* 컬러 변경시 참고 : color: #bccbf6; color: #abc7fc; */

.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box .theater_available_unit {
  display: none;
}

.fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box .theater_available_unit.selected_available {
  display: block;
}

/*-------- select_seats & pay --------*/
/* select_seats */
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .resizing_box {
  position: relative;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_box {
  width: 88%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_box .select_seat_display {
  width: 100%;
  cursor: pointer;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_box .select_seat_display img {
  display: block;
  width: 100%;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .selected_seats_box {
  width: 88%;
  padding: 6% 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-bottom: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .selected_seats_box .selected_seats_title {
  width: 80%;
  height: 25px;
  margin: 0 auto;
  line-height: 25px;
  margin-bottom: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .selected_seats_box li {
  width: 70%;
  height: 25px;
  font-size: 0.75rem;
  margin: 0 auto;
  line-height: 25px;
}

/*-------- select_seats ( choose_ticket_box ) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box {
  width: 88%;
  padding: 6% 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .choose_ticket_title {
  width: 80%;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .choose_ticket_title .number_limit {
  color: #f0c648;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .lab_refund_guide {
  display: block;
  width: 55%;
  height: 25px;
  font-size: 0.688rem;
  color: #bccbf6;
  line-height: 25px;
  margin-left: 10%;
  margin-bottom: 20px;
  cursor: pointer;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .morning_ticket,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .disabled_people_ticket,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .advance_ticket {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .morning_ticket,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .disabled_people_ticket {
  margin-bottom: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .morning_ticket .ticket_name,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .disabled_people_ticket .ticket_name,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .advance_ticket .ticket_name {
  height: 25px;
  font-size: 0.75rem;
  line-height: 25px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .morning_ticket .ticket_number,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .disabled_people_ticket .ticket_number,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .advance_ticket .ticket_number {
  width: 50%;
  height: 25px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .morning_ticket .ticket_number input,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .disabled_people_ticket .ticket_number input,
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box .advance_ticket .ticket_number input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.75rem;
  text-indent: 7px;
  border-radius: 2px;
  outline: none;
}

/*-------- select_seats ( refund_guide_sheet ) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box {
  width: 80%;
  height: 200px;
  padding: 0 8%;
  box-sizing: border-box;
  background-color: #3a404e;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 490px;
  left: 10%;
  transition: all .3s;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box .refund_guide_text {
  display: block;
  font-size: 0.75rem;
  line-height: 25px;
  margin-top: 20px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box .refund_guide_text .refund_guide_category {
  margin-bottom: 10px;
}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box .close_refund_guide {
  width: 36px;
  height: 36px;
  font-size: 1rem;
  text-align: center;
  line-height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#chk_refund_guide {display: none;}
#chk_refund_guide:checked ~ .refund_guide_box {opacity: 1; visibility: visible;}

/*-------- select_seats_jQuery_function ( pesudo - classname 'chose' ) --------*/
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .selected_seats_box .selected_seats_empty {display: block;}
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .selected_seats_box .selected_seats_g16 {display: none;}
.fast_reserve_contents .fast_reserve_sheet_box .select_seats .choose_ticket_box {display: none;}

.fast_reserve_contents .fast_reserve_sheet_box .select_seats.chose .selected_seats_box .selected_seats_empty {display: none;}
.fast_reserve_contents .fast_reserve_sheet_box .select_seats.chose .selected_seats_box .selected_seats_g16 {display: block;}
.fast_reserve_contents .fast_reserve_sheet_box .select_seats.chose .choose_ticket_box {display: block;}

/*-------- pay --------*/
.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_title {
  width: 100%;
  height: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_price {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_price .final_price {
  font-size: 1.125rem;
  color: #bccbf6;
  margin-left: 10px;
  margin-right: 10px;
}

.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method {
  display: flex;
  width: 50%;
  min-width: 212px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 96px;
  flex-wrap: wrap;
}

.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method li {
  width: 50%;
  text-indent: 20%;
  margin-bottom: 30px;
}

.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method li input,
.fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method li label {
  cursor: pointer;
}

/*-------- media_query (footer) --------*/
/*-------- screen_and_320_to_768px --------*/
@media screen and (min-width:320px) and (max-width:768px) {
  .footer .additional_info_sheet {
    max-height: 0;
    transition: all .3s;
    overflow: hidden;
  }
  
  #chk_additional_info:checked ~ .additional_info_sheet {max-height: 200px;}
  #chk_additional_info:checked ~ .additional_info .footer_unit_icon {transform: rotate(180deg);}

  .footer .additional_info_sheet li:nth-child(1) a,
  .footer .additional_info_sheet li:nth-child(2) a {margin-top: 12px;}
  
  .footer .additional_info_sheet li:nth-child(7) a {margin-bottom: 12px;}
}

/*-------- all_and_601px ↑ --------*/
@media all and (min-width:601px) {
  .footer .news_letter {padding: 0 3%;}
  .footer .additional_info {padding: 0 3%;}
  .footer .related_institution {padding: 0 3%;}
  .footer .mecenat {padding: 0 3%;}

  .footer .related_institution .related_institution_sheet {max-width: 370px;}

  .footer .footer_info {font-size: 0.813rem; text-align: center;}
  .footer .footer_logo_box .footer_logo_space_between {width: 10%;}

  .fast_reserve .fast_reserve_contents {max-width: 500px; border-radius: 5px; overflow: hidden;}
  .fast_reserve_contents .fast_reserve_sheet_box .confirm_box {margin-top: 50px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_input {width: 180px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box {padding: 0 20%; margin-top: 70px; margin-bottom: 70px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_recommend_box {margin-bottom: 60px;}
  .fast_reserve_contents .select_theater .detail_info .theater_available_unit .theater_state {font-size: 0.813rem;}
  .fast_reserve_contents .select_theater .detail_info .product_info {margin-bottom: 50px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_title {margin-top: 40px; margin-bottom: 30px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box {top: 600px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_title {margin-top: 50px; margin-bottom: 10px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_price {margin-bottom: 90px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method {margin-bottom: 86px;}

  /* 스크롤바 스타일 부여. - 600px부터 화면너비에 여유가 생기고 스크롤바가 있어도 지저분해보이지않음. */
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar-thumb {
    background-color: rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
  
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
  }
  
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

/*-------- all_and_769px ↑ --------*/
@media all and (min-width:769px) {
  .footer .footer_top_box .footer_top {
    display: flex;
    padding: 2%;
    box-sizing: border-box;
  }

  .footer .news_letter {
    width: 150px;
    height: 100%;
    order: 10;
    border-top: none;
    border-bottom: none;
    padding: 20px 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer .news_letter .footer_unit_title {width: 100%; font-size: 0.688rem; text-align: center; margin-top: 10px; margin-bottom: 20px;}
  .footer .news_letter button {padding: 6px 17px; font-size: 0.625rem;}
  .footer .news_letter button:hover,
  .footer .news_letter button:focus {background-color: #f4b807;}

  .footer .additional_info {display: none;}
  .footer .additional_info_sheet {width: 250px; max-width: 350px; flex-grow: 1; padding: 0;}
  .footer .additional_info_sheet li {border-right: 1px solid #eee; box-sizing: border-box;}
  .footer .additional_info_sheet li a {height: 32px; line-height: 32px; text-indent: 15%; font-size: 0.688rem;}
  .footer .additional_info_sheet li:nth-child(2n) a {text-indent: 23%;}

  .footer_top_slide_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 1%;
    border-right: 1px solid #eee;
    box-sizing: border-box;
  }
  .footer .related_institution {border-top: none; border-bottom: none; margin-bottom: 15px;}
  .footer .related_institution .footer_unit_title .footer_unit_title_text {font-size: 0.688rem;}
  .footer .related_institution .btn_related_institution_box {display: block;}
  .footer .related_institution .related_institution_sheet {max-width: 230px;}

  .footer .mecenat {border-bottom: none;}
  .footer .mecenat .footer_unit_title .footer_unit_title_text {font-size: 0.688rem;}
  .footer .mecenat .btn_mecenat_box {display: block;}
  .footer .mecenat .mecenat_sheet {max-width: 190px;}

  .footer .footer_bottom_box {background-color: #eee;}
  .footer .footer_info {font-size: 0.75rem;}
  .footer .footer_info .footer_info_br {display: none;}

  /* footer.js → 최초화면과, 아래로 스크롤 했을시에만 퀵메뉴가 보이도록 의도. */
  .quick_menu {right: 20px;}
  /* 빠른예매 버튼 호버시 뒷면 보이도록 */
  .quick_menu .btn_fast_reserve:hover .btn_coin_front {
    transform: rotateY(180deg);
    animation: none;
  }
  .quick_menu .btn_fast_reserve:hover .btn_coin_back {
    transform: rotateY(360deg);
    animation: none;
  }

  .fast_reserve .fast_reserve_contents {max-width: 600px; height: 600px;}
  .fast_reserve_contents .fast_reserve_sheet_box .confirm_box {margin-top: 70px; margin-bottom: 50px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_input {width: 230px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box {margin-top: 80px; margin-bottom: 90px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_recommend_box {margin-bottom: 70px;}
  .fast_reserve_contents .select_theater .detail_info .product_info {margin-bottom: 60px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_title {margin-top: 50px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_box {margin-bottom: 50px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box {top: 720px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_title {margin-bottom: 30px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_price {margin-bottom: 120px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method {margin-bottom: 116px;}


  /* 스크롤바 굵기 조정 (8 → 10px) */
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar {
    width: 10px;
  }
}

/*-------- all_and_1025px ↑ --------*/
@media all and (min-width:1025px) {
  .footer .news_letter {width: 200px; max-width: 300px; flex-grow: 1;}
  .footer .news_letter .footer_unit_title {font-size: 0.813rem; margin-top: 10px; margin-bottom: 20px;}
  .footer .news_letter button {padding: 7px 22px; font-size: 0.813rem;}

  .footer .additional_info_sheet {width: 250px; max-width: 360px; flex-grow: 1;}
  .footer .additional_info_sheet li a {font-size: 0.75rem;}

  .footer .related_institution .footer_unit_title {width: 100px;}
  .footer .related_institution .footer_unit_title .footer_unit_title_text {font-size: 0.813rem;}
  .footer .related_institution .related_institution_sheet .swiper-wrapper .swiper-slide {max-width: 100px;}

  .footer .mecenat .footer_unit_title {width: 170px;}
  .footer .mecenat .footer_unit_title .footer_unit_title_text {font-size: 0.813rem;}
  .footer .mecenat .mecenat_sheet .swiper-wrapper .swiper-slide {max-width: 100px;}

  .footer .footer_info {padding: 40px 4%;}

  .fast_reserve .fast_reserve_contents {max-width: 700px; height: 700px;}
  .fast_reserve_contents .fast_reserve_sheet_box .confirm_box {margin-top: 80px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box .search_input {width: 270px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_box {padding: 0 20%; margin-top: 100px; margin-bottom: 100px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_theater .search_recommend_box {margin-bottom: 80px;}
  .fast_reserve_contents .select_theater .detail_info .product_info {margin-bottom: 80px;}
  .fast_reserve_contents .select_theater .detail_info .theater_schedule_available_box .theater_available_place {width: 200px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_title {margin-top: 60px; margin-bottom: 40px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .select_seats_box {margin-bottom: 60px;}
  .fast_reserve_contents .fast_reserve_sheet_box .select_seats .refund_guide_box {top: 830px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_title {margin-top: 60px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_price {margin-bottom: 160px;}
  .fast_reserve_contents .fast_reserve_sheet_box .pay .pay_method {margin-bottom: 166px;}

  /* 스크롤바 굵기 조정 (10 → 12px) */
  .fast_reserve_contents .fast_reserve_sheet_box .resizing_box::-webkit-scrollbar {
    width: 12px;
  }
}

/*-------- all_and_1360px ↑ --------*/
@media all and (min-width:1360px) {
  .footer .news_letter .footer_unit_title {font-size: 0.938rem;}
  .footer .news_letter button {padding: 10px 30px; font-size: 0.875rem;}

  .footer .additional_info_sheet li a {font-size: 0.813rem;}

  .footer .related_institution .related_institution_sheet {max-width: 370px;}
  .footer .mecenat .mecenat_sheet {max-width: 340px;}

  .footer .footer_bottom_box {padding-bottom: 40px;}
  .footer .footer_info {padding: 50px 4%; font-size: 0.875rem;}
  .footer .footer_logo_box .footer_logo {max-width: 280px;}
  .footer .footer_logo_box .footer_other_logos {max-width: 280px;}
}

@media all and (min-width:1630px) {
  /* main.css 미디어쿼리에서 플로팅배너가 보일때(그 정도로 화면이 커졌을때) 빠른예매의 비네팅 값을 약간 더 올림 (64px → 80px) */
  .fast_reserve .out_of_area {box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.9);}
}